<div class="w3-top">
  <div class="w3-bar w3-red w3-card w3-left-align w3-large">
    <a
      class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red"
      href="javascript:void(0);"
      id="mobileMenuButton"
      title="Toggle Navigation Menu"
      aria-label="Toggle navigation menu"
    >
      <i class="fa fa-bars"></i>
    </a>
    <a href="/" class="w3-bar-item w3-button w3-padding-large nav-link" data-page="home">Home</a>
    <a href="/documentation/" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white nav-link" data-page="documentation">Documentation</a>
    <a href="/usage/" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white nav-link" data-page="usage">Usage</a>
    <a href="https://github.com/wimmics/venus" target="_blank" rel="noreferrer" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white w3-right">GitHub</a>
    <a href="/editor/" target="_blank" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white w3-right">Try it Online</a>
  </div>

  <div id="mobileNav" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="/" class="w3-bar-item w3-button w3-padding-large">Home</a>
    <a href="/documentation/" class="w3-bar-item w3-button w3-padding-large">Documentation</a>
    <a href="/usage/" class="w3-bar-item w3-button w3-padding-large">Usage</a>
    <a href="/editor/" class="w3-bar-item w3-button w3-padding-large">Try it Online</a>
    <a href="https://github.com/wimmics/venus" target="_blank" rel="noreferrer" class="w3-bar-item w3-button w3-padding-large">GitHub</a>
  </div>
</div>
